<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="feedback">
            <button class="container__button"></button><button class="container__button"></button><button class="container__button"></button>
            <h2 class="statistics">
                <p class="review__name"><span class="review__counter"></span></p>
                <p class="review__name"><span class="review__counter"></span></p>
                <p class="review__name"><span class="review__counter"></span></p>
            </h2>
        </h1>
    </div>
</body>
</html>